JavaObject/Schemas/sample.ProductDetailsRoot.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="www.tibco.com/plugin/java/xmlSchema/sample.ProductDetailsRoot" xmlns:tns="www.tibco.com/plugin/java/xmlSchema/sample.ProductDetailsRoot" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="AcvDetails" type="tns:AcvDetailsType"/>

  <xs:element name="AllocatedServiceGrpInfo" type="tns:AllocatedServiceGrpInfoType"/>

  <xs:element name="BeInfo" type="tns:BeInfoType"/>

  <xs:element name="BuyProg" type="tns:BuyProgType"/>

  <xs:element name="CategoryDetails" type="tns:CategoryDetailsType"/>

  <xs:element name="CxAttr" type="tns:CxAttrType"/>

  <xs:element name="OfferDetails" type="tns:OfferDetailsType"/>

  <xs:element name="OptyDetails" type="tns:OptyDetailsType"/>

  <xs:element name="ParentOfferType" type="tns:ParentOfferTypeType"/>

  <xs:element name="PartDetails" type="tns:PartDetailsType"/>

  <xs:element name="PidMatchingValue" type="tns:PidMatchingValueType"/>

  <xs:element name="PreProductDetails" type="tns:PreProductDetailsType"/>

  <xs:element name="PreServiceDetails" type="tns:PreServiceDetailsType"/>

  <xs:element name="ProductDetails" type="tns:ProductDetailsType"/>

  <xs:element name="ProductDetailsRoot" type="tns:ProductDetailsRootType"/>

  <xs:element name="ProductFamily" type="tns:ProductFamilyType"/>

  <xs:element name="RoDetails" type="tns:RoDetailsType"/>

  <xs:element name="ServiceCategory" type="tns:ServiceCategoryType"/>

  <xs:element name="ServiceDetails" type="tns:ServiceDetailsType"/>

  <xs:element name="ServiceLevel" type="tns:ServiceLevelType"/>

  <xs:element name="ServiceProgram" type="tns:ServiceProgramType"/>

  <xs:element name="SubBeInfo" type="tns:SubBeInfoType"/>

  <xs:element name="SubOfferType" type="tns:SubOfferTypeType"/>

  <xs:element name="SubscriptionDetails" type="tns:SubscriptionDetailsType"/>

  <xs:element name="TermInfo" type="tns:TermInfoType"/>

  <xs:complexType name="ProductDetailsRootType">
    <xs:sequence>
      <xs:element name="offerDetails" type="tns:OfferDetailsType" minOccurs="0"/>
      <xs:element name="optyDetails" type="tns:OptyDetailsType" minOccurs="0"/>
      <xs:element name="preProductDetails" type="tns:PreProductDetailsType" minOccurs="0"/>
      <xs:element name="preServiceDetails" type="tns:PreServiceDetailsType" minOccurs="0"/>
      <xs:element name="productDetails" type="tns:ProductDetailsType" minOccurs="0"/>
      <xs:element name="serviceDetails" type="tns:ServiceDetailsType" minOccurs="0"/>
      <xs:element name="subscriptionDetails" type="tns:SubscriptionDetailsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OfferDetailsType">
    <xs:sequence>
      <xs:element name="parentOfferType" type="tns:ParentOfferTypeType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ParentOfferTypeType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="subOfferType" type="tns:SubOfferTypeType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SubOfferTypeType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="netPrice" type="xs:double" minOccurs="0"/>
      <xs:element name="recurringFlag" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OptyDetailsType">
    <xs:sequence>
      <xs:element name="combinedServiceFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="currencyCode" type="xs:string" minOccurs="0"/>
      <xs:element name="eaFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="optyNumber" type="xs:int" minOccurs="0"/>
      <xs:element name="preTotalBuyProgNetAmt" type="xs:int" minOccurs="0"/>
      <xs:element name="preTotalBuyProgNetAmtUSD" type="xs:int" minOccurs="0"/>
      <xs:element name="preTotalProdAttriNetAmt" type="xs:double" minOccurs="0"/>
      <xs:element name="preTotalProdAttriNetAmtUSD" type="xs:int" minOccurs="0"/>
      <xs:element name="preTotalSerAttriNetAmt" type="xs:double" minOccurs="0"/>
      <xs:element name="preTotalSerAttriNetAmtUSD" type="xs:int" minOccurs="0"/>
      <xs:element name="publishedDate" type="xs:string" minOccurs="0"/>
      <xs:element name="quoteId" type="xs:long" minOccurs="0"/>
      <xs:element name="sfdcOptyNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="totalBuyProgNetAmt" type="xs:int" minOccurs="0"/>
      <xs:element name="totalBuyProgNetAmtUSD" type="xs:int" minOccurs="0"/>
      <xs:element name="totalProdAttriNetAmt" type="xs:double" minOccurs="0"/>
      <xs:element name="totalProdAttriNetAmtUSD" type="xs:int" minOccurs="0"/>
      <xs:element name="totalSerAttriNetAmt" type="xs:double" minOccurs="0"/>
      <xs:element name="totalSerAttriNetAmtUSD" type="xs:int" minOccurs="0"/>
      <xs:element name="user" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PreProductDetailsType">
    <xs:sequence>
      <xs:element name="pidMatchingValue" type="tns:PidMatchingValueType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="productFamily" type="tns:ProductFamilyType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="totalACVProductNetAmt" type="xs:int" minOccurs="0"/>
      <xs:element name="totalACVProductNetAmtUSD" type="xs:int" minOccurs="0"/>
      <xs:element name="totalNonACVProductNetAmt" type="xs:double" minOccurs="0"/>
      <xs:element name="totalNonACVProductNetAmtUSD" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PidMatchingValueType">
    <xs:sequence>
      <xs:element name="beInfo" type="tns:BeInfoType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BeInfoType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="subBeInfo" type="tns:SubBeInfoType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SubBeInfoType">
    <xs:sequence>
      <xs:element name="acvDetails" type="tns:AcvDetailsType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="categoryDetails" type="tns:CategoryDetailsType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AcvDetailsType">
    <xs:sequence>
      <xs:element name="acvFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="roDetails" type="tns:RoDetailsType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RoDetailsType">
    <xs:sequence>
      <xs:element name="buyProg" type="tns:BuyProgType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="roFlag" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BuyProgType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="termInfo" type="tns:TermInfoType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TermInfoType">
    <xs:sequence>
      <xs:element name="extNetPrice" type="xs:double" minOccurs="0"/>
      <xs:element name="lineId" type="xs:string" minOccurs="0"/>
      <xs:element name="partnerIntent" type="xs:string" minOccurs="0"/>
      <xs:element name="sellerIntent" type="xs:string" minOccurs="0"/>
      <xs:element name="term" type="xs:double" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CategoryDetailsType">
    <xs:sequence>
      <xs:element name="acvDetails" type="tns:AcvDetailsType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="hwOrSwCategory" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProductFamilyType">
    <xs:sequence>
      <xs:element name="beInfo" type="tns:BeInfoType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PreServiceDetailsType">
    <xs:sequence>
      <xs:element name="serviceCategory" type="tns:ServiceCategoryType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="totalACVServiceNetAmt" type="xs:double" minOccurs="0"/>
      <xs:element name="totalACVServiceNetAmtUSD" type="xs:int" minOccurs="0"/>
      <xs:element name="totalNonACVServiceNetAmt" type="xs:double" minOccurs="0"/>
      <xs:element name="totalNonACVServiceNetAmtUSD" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceCategoryType">
    <xs:sequence>
      <xs:element name="allocatedServiceGrpInfo" type="tns:AllocatedServiceGrpInfoType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AllocatedServiceGrpInfoType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="serviceProgram" type="tns:ServiceProgramType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceProgramType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="serviceLevel" type="tns:ServiceLevelType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceLevelType">
    <xs:sequence>
      <xs:element name="beInfo" type="tns:BeInfoType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="cxAttr" type="tns:CxAttrType" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CxAttrType">
    <xs:sequence>
      <xs:element name="GSP" type="xs:string" minOccurs="0"/>
      <xs:element name="cspLevel" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProductDetailsType">
    <xs:sequence>
      <xs:element name="pidMatchingValue" type="tns:PidMatchingValueType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="productFamily" type="tns:ProductFamilyType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="totalACVProductNetAmt" type="xs:int" minOccurs="0"/>
      <xs:element name="totalACVProductNetAmtUSD" type="xs:int" minOccurs="0"/>
      <xs:element name="totalNonACVProductNetAmt" type="xs:double" minOccurs="0"/>
      <xs:element name="totalNonACVProductNetAmtUSD" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceDetailsType">
    <xs:sequence>
      <xs:element name="serviceCategory" type="tns:ServiceCategoryType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="totalACVServiceNetAmt" type="xs:double" minOccurs="0"/>
      <xs:element name="totalACVServiceNetAmtUSD" type="xs:int" minOccurs="0"/>
      <xs:element name="totalNonACVServiceNetAmt" type="xs:double" minOccurs="0"/>
      <xs:element name="totalNonACVServiceNetAmtUSD" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SubscriptionDetailsType">
    <xs:sequence>
      <xs:element name="partDetails" type="tns:PartDetailsType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PartDetailsType">
    <xs:sequence>
      <xs:element name="autoRenewalTerm" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="initialTerm" type="xs:string" minOccurs="0"/>
      <xs:element name="partNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="quantity" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

